@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --primary-color: #61dafb;
  /* React Blue */
  --secondary-color: #21a1f1;
  /* Darker React Blue */
  --accent-color-purple: #8a2be2;
  /* Um roxo vibrante para o dock */
  --background-dark: #1a1a1a;
  --background-medium: #282c34;
  --background-light: #3a3f4a;
  --text-light: #e0e0e0;
  --text-medium: #b0b0b0;
  --border-color: #3a3f4a;
  --card-background: #3a3f4a;
  --card-shadow: rgba(0, 0, 0, 0.3);
  --button-hover: #4a4f5a;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Fira Code", monospace;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--background-medium);
  /* Cor de fundo */
  border-bottom: 1px solid var(--border-color);
  /* Linha sutil de borda */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  /* Cor principal para o nome */
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-brand a:hover {
  color: var(--secondary-color);
  /* Cor secundária no hover */
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: var(--text-light);
  /* Cor de texto clara */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: var(--primary-color);
  /* Cor principal no hover */
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark);
  color: var(--text-light);
  line-height: 1.6;
  scroll-behavior: smooth;
}

.profile-section {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--text-light);
}

.name {
  font-family: "Fira Code", monospace;
  font-size: 3.2rem;
  color: var(--primary-color);
  font-weight: bold;
  line-height: 1.2;
}

.title {
  font-family: "Fira Code", monospace;
  font-size: 1.3rem;
  color: var(--text-medium);
  font-weight: 500;
}


.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--primary-color);
  box-shadow: 0 0 15px rgba(97, 218, 251, 0.5);
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
}

.github-stats-section {
  padding: 2rem;
  text-align: center;
  /* Centraliza o título e o container */
}

.section-title {
  font-size: 2rem;
  color: #93c5fd;
  /* Um azul claro */
  margin-bottom: 2rem;
}

.stats-container {
  display: flex;
  justify-content: center;
  /* Centraliza os cards */
  align-items: center;
  gap: 2rem;
  /* Espaço entre os cards */
  flex-wrap: wrap;
  /* Permite que os cards quebrem para a linha de baixo em telas pequenas */
}
